<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="appURL" value="http://172.20.208.79:4040/admin/#/admin"/>
<parameter name="browserType" value="firefox"/>
 
   <test name="Locations">
    <classes>
      <class name="org.rm.automation.admin.tests.locations.createBasicLocation"/>
    </classes>
  </test> <!-- Test -->
 
  <test name="Resources">
    <classes>
      <class name="org.rm.automation.admin.tests.resources.CreateResource"/>
    </classes>
  </test> <!-- Test -->
  
  <!-- Tablet suite 
  <suite-files>
  	<suite-file path="tablet.xml" />
  </suite-files>
   -->
  
  </suite> <!-- Suite -->
