<?xml version="1.0" encoding="UTF-8"?>		
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">		
<suite name="Suite for Acceptance test cases">		
	
 <test name="Acceptance Test cases">		
    <classes>   
    
      <class name="org.rm.automation.admin.tests.tablets.ChangeColorTablet"/>   		
      <class name="org.rm.automation.admin.tests.login.DisplayLogon"/>		
      <class name="org.rm.automation.admin.tests.login.DisplayHomeConsole"/>		
      <class name="org.rm.automation.admin.tests.login.DisplayMainMenu"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyResourceAssociatedToRoom"/>		
     <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyRoomStateEnabled"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyRoomStateDisabled"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyRoomCapacityUpdate"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyRoomCodeUpdate"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyRoomName"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyRoomNameUpdate"/>		
     <class name="org.rm.automation.admin.tests.conferenceRooms.VerifylogoStateVisible"/>		
      <class name="org.rm.automation.admin.tests.conferenceRooms.VerifyEmailroomIsCorrectly"/>		
      <class name="org.rm.automation.admin.tests.impersonation.EnableImpersonation"/>		
      <class name="org.rm.automation.admin.tests.impersonation.DisableImpersonation"/>		
     <class name="org.rm.automation.admin.tests.locations.associateRoomWithLocation"/>		
      <class name="org.rm.automation.admin.tests.locations.createChildLocation"/>		
      <class name="org.rm.automation.admin.tests.locations.editLocation"/>		
      <class name="org.rm.automation.admin.tests.locations.removeLocation"/>		
      <class name="org.rm.automation.admin.tests.locations.removeLocationAssociated"/>		
      <class name="org.rm.automation.admin.tests.locations.createBasicLocation"/>		
      <class name="org.rm.automation.admin.tests.locations.createAssociatedLocation"/>		
      <class name="org.rm.automation.admin.tests.resources.CreateResource"/>		
      <class name="org.rm.automation.admin.tests.resources.CreateResourceAllFields"/>		
      <class name="org.rm.automation.admin.tests.resources.UpdateName"/>		
      <class name="org.rm.automation.admin.tests.resources.UpdateDisplayName"/>		
      <class name="org.rm.automation.admin.tests.resources.UpdateIcon"/>		
      <class name="org.rm.automation.admin.tests.resources.UpdateDescription"/>		
      <class name="org.rm.automation.admin.tests.resources.SearchResource"/>		
      <class name="org.rm.automation.admin.tests.resources.DeleteResource"/>	
      	
      <!-- <class name="org.rm.automation.admin.tests.emailServices.RemoveServer"/>		
      		
      <class name="org.rm.automation.admin.tests.emailServices.AddServer"/> -->		
      <!-- <class name="org.rm.automation.tablet.tests.meetings.CreateMeeting"/> -->		
		
    </classes>		
  </test> <!-- Test -->  		
</suite> <!-- Suite --> 		